/* Color Code Variables */

/* Basic Colors */
$Black: #000000;
$White: #ffffff;
$Grey: #cccccc;
$Green: #1b9e00;
$Blue: #2b54a2;
$Yellow: #efc800;
$Tranquil: #e6efee;

/* Varient Colors */
$Grey-White: #e7e7e7;
$Grey-dr: #8f8f8f;
$Blue-dr: #253149;

/* Basiv Color Transparent */
$Black-05: rgba(0, 0, 0, 0.5);
$Blue-08: rgba(50, 108, 224, 0.8);
$Grey-05: rgba(204, 204, 204, 0.5);

/* ADs Listing Theme Colors */
$ADs-red: #f1233c;
$ADs-black: #17191d;
$ADs-black-dr: #0b0e11;

/* All Page Colors */
$Blue-border-lt: #617ea8;
$Grey-border-lt: #e7eded;
$Grey-text-lt: #b9b9b9;
$Star-Yellow: #efcc4c;

/* Home Page */
$ADs-searchbar-bg: rgba(79, 111, 158, 0.7);
$ADs-categories-bg: #f4fafa;
$ADs-smartlist-bg: #ece9fc;
$ADs-scbscribe-bg1: #4175cd;
$ADs-scbscribe-bg2: #4573c2;
$ADs-scbscribe-bg3: #4b6db0;
$ADs-footer-text: #a6a6a6;
$ASx-footer-border: #1c2125;