/* ADs Listing Categories Style */

.ads-categories {
	background: $ADs-categories-bg;
	.row {
		> div {
			padding: 0px;
			margin: 25px 0px;
		}
	}
	.item {
		/* width: 305px; */
		margin: 0 auto;
		padding: 5px;
		background: $White;
		box-shadow: 0 0 1px $Black;
		.category {
			&-image {
				/* height: 200px; */
				background: $Black;
				color: $White;
				position: relative;
				img {
					width: 100%;
				}
				&-slide {
					display: none;
					position: absolute;
					width: 100%;
					height: 0px;
					top: 0px;
					background: $Black-05;
					/* -webkit-transition-property: all;
					-webkit-transition-duration: .5s;
					-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
					-moz-transition-property: all;
					-moz-transition-duration: .5s;
					-moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
					-ms-transition-property: all;
					-ms-transition-duration: .5s;
					-ms-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
					transition-property: all;
					transition-duration: .5s;
					transition-timing-function: cubic-bezier(0, 1, 0.5, 1); */
					span {
						display: block;
						position: relative;
						text-align: center;
					}
				}
				&-type {
					top: 40%;
					text-transform: uppercase;
					@extend .title-font-20;
				}
				&-available {
					top: 50%;
					color: $Grey;
					@extend .content-font-16;
				}
			}
			&-type {
				padding: 5px 0;
				span {
					@extend .title-font-16;
				}
			}
			&-search {
				display: none;
				color: $Grey-text-lt;
				input {
					border: none;
					padding: 5px;
					width: calc(100% - 20px);
				}
			}
			&-type-search {
				border-bottom: 1px solid $Grey-border-lt;
				margin-bottom: 1px;
				#{$Hover} {
					div {
						&[class*='-type'] {
							display: none;
						}
						&[class*="-search"] {
							display: block;
						}
					}
				}
			}
			&-lists {
				border-top: 1px solid $Grey-border-lt;
				padding: 10px 5px;
			}
			&-item {
				@extend .content-font-14;
				padding: 7px 5px;
			}
			&-size {
				float: right;
			}
		}
		#{$Hover} {
			.category-image-slide {
				height: 100%;
				display: block;
			}	
		}
	}
	.category {
		&-action {
			background: none;
		}
		&-btn-viewall {
			box-shadow: 0px -1px 5px 0px $Grey;
			border-radius: 0px;
			background: $White;
			color: $ADs-red;
			width: 100%;
			padding: 10px;
			@extend .content-font-16;
			#{$Hover} {
				background: $ADs-red;
				color: $White;
			}
		}
		&-more {
			text-align: center;
			.btn {
				text-transform: uppercase;
				padding: 10px;
				@extend .title-font-16;
				@extend .btn-ads-red;
			}
		}
	}
}