/* ADs Location Product List Stlye */
.ads-location {
	.loc {
		&-left-bar {
			padding: 0px;
			overflow-y: scroll;
		}
		&-header {
			padding: 10px 10px;
			color: $Grey;
			.btn {
				float: right;
				border-radius: 3px;
				@extend .btn-ads-red;
				@extend .content-font-14;
			}
		}
		&-searchbox {
			padding: 10px;
		}
		&-country {
			&-list {
				max-height: 430px;
				ul {
					list-style: none;
					padding-left: 0px;
				}
			}
			&-link {
				color: $Black;
				display: inline-block;
				padding: 15px;
				width: 100%;
				@extend .content-font-16;
			}
			&-name {
				border-bottom: 1px solid $Grey;
				#{$last} {
					border-bottom: none;
				}
				#{$Hover} {
					.loc-country-link {
						background: $Grey-White;
						color: $ADs-red;
						text-decoration: none;
					}
				}
			}
		}
		&-products {
			&-search-list {
				background: $White;
				border: 1px solid $Grey;
				margin-bottom: 75px;
			}
			&-items {
				float: left;
				padding: 0px 0 15px 0;
				margin: 0px;
				> div {
					padding: 7px;
				}
				.item {
					border: 1px solid $Grey;
				}
			}
		}
	}
}