/* Product View List */

.product {
	&-filter {
		@extend .flat-design-style;
		&-location {
			@extend .title-font-14;
		}
		&-label {
			background: $Tranquil;
			padding: 10px 15px;
		}
		&-search {
			input {
				border: 0;
				border-bottom: 1px solid $Grey-05;
				width: 100%;
				padding: 10px;
				&::placeholder {
					color: $Grey;
					font-weight: 100;
					@extend .content-font-14;
				}
			}
		}
		&-list {
			padding: 10px 15px;
			.checkout {
				
			}
		}
	}
	&-view {
		&-lists {
			.item {
				padding: 10px;
				width: 100%;
				float: left;
				position: relative;
				@media #{$mobile-port} {
					text-align: center;
				}
				@extend .flat-design-style;
				.product-image {
					padding: 0pc;
				}
			}
		}
		&-detail {
			border: 1px solid $Grey;
			border-radius: 5px;
			display: inline-block;
			padding: 7px;
			position: absolute;
			bottom: 10px;
			@media #{$mobile-port} {
				position: static;
				margin-bottom: 15px;
			}
			&-price, &-btn {
				display: inline-block;
			}
			&-price {
				@extend .title-font-20;
				vertical-align: top;
				padding: 0px 5px;
			}
			&-btn {
				margin-left: 10px;
				.btn {
					border-radius: 2px;
					@extend .btn-ads-red-bg;
					@extend .content-font-12;
				}
			}
		}
	}
	&-verifiedSeller {
		float: right;
		font-style: italic;
		color: $Green;
		position: absolute;
		padding: 5px 0px 15px 30px;
		bottom: 10px;
		right: 10px;
		background-image: url('../images/verified-seller.png');
		background-repeat: no-repeat;
		@media #{$mobile-port} {
			position: static;
			float: none;
			max-width: 100px;
			margin: 0 auto;
		}
		@extend .title-font-12;
	}
	&-image {
		@media #{$mobile-port} {
			width: 100%
		}
	}
	&-detail {
		padding-right: 0;
		position: static;
		@media #{$mobile-port} {
			width: 100%
		}
	}
	&-name {
		color: $Blue;
		@extend .title-font-16;
		margin-bottom: 5px;
		@media #{$mobile-port} {
			margin-top: 10px;
		}
		a {
			color: $Blue;
		}
	}
	&-breadcrumbs {

	}
	&-option {
		text-align: right;
		@media #{$mobile-port} {
			text-align: center;
			margin-bottom: 10px;
		}
	}
	&-viewsCount, &-postDate, &-favorite {
		display: inline-block;
		font-size: 12px;
	}
	&-viewsCount {
		padding-right: 5px;
		margin-right: 5px;
		border-right: 1px solid $Grey;
	}
	&-postDate {
		margin-right: 5px;
	}
	&-favorite {

	}
	&-description {
		padding-bottom: 30px;
		text-align: left;
		@media #{$mobile-port} {
			padding-bottom: 0;
		}
	}
}