/* Profile and Profile Ads Style */

.ads-profile {
	.profile {
		&-details {

		}
		&-follows {
			ul {
				list-style: none;
				padding: 0px;
			}
			li {

			}
			.item {
				text-align: center;
				width: 25%;
				float: left;
				font-size: 12px;
				font-weight: bold;
				color: $Grey-dr;
				margin-top: 50px;
				@media #{$mobile} {
					margin-top: 25px;
					margin-bottom: 25px;
				}
				span {
					color: $Black;
					height: 50px;
					width: 50px;
					margin: 0px auto;
					line-height: 50px;
					border-radius: 50px;
					background: $White;
					box-shadow: 0 0 5px $Grey-05;
					text-align: center;
					display: block;
					vertical-align: middle;
					@extend .title-font-18;
				}
			}
		}
		&-content {
			text-align: center;
		}
		&-picture {
			margin-top: -50px;
			width: 100px;
			height: 100px;
			border-radius: 50px;
			background: $Grey-dr;
			margin: -50px auto 0 auto;
			overflow: hidden;
			@media #{$mobile} {
				margin-top: 0px;
			}
		}
		&-name {
			text-transform: uppercase;
			color: $Black;
			margin: 20px 0;
			@extend .title-font-18;
		}
		&-description {
			@extend .content-font-14;
			line-height: 24px;
		}
		&-socialmedia {
			.icons {
				display: inline-block;
				margin: 0 20px;
				font-size: 0px;
				height: 40px;
				width: 40px;
				border-radius: 40px;
				background-color: $Grey-dr;
				margin-bottom: -20px;
				@media #{$mobile} {
					margin-bottom: 0;
				}
				&.facebook {
					background-image: url('../images/social-icons.png');
				}
				&.google {
					background-image: url('../images/social-icons.png');
					background-position: center;
				}
				&.twitter {
					background-image: url('../images/social-icons.png');
					background-position: right;
				}
			}
		}
		&-editer {
			.btn {
				color: $ADs-red;
				border: none;
				margin-bottom: -15px;
				text-transform: uppercase;
				padding: 10px 20px;
				@extend .title-font-14;
				@extend .flat-design-style;
			}
		}
	}
}

.user,
.seller {
	&-contact {
		padding: 15px;
		background: $White;
		.form-action {
			.btn {
				@extend .btn-ads-red-bg;
				width: 100%;
				font-size: 14px;
				padding: 15px 0px;
			}
		}
	}
	&-alladds {
		&-items {
			> div {
				padding: 0px 20px 20px 0px;
				@media #{$mobile} {
					padding: 10px;
				}
			}
			border: 0px;
			.item {
				@extend .flat-design-style;
			}
		}
	}
}
.user {
	&-log {
		background: $White;
		padding: 25px 0;
		ul {
			list-style-position: inside;
			color: $Grey;
			padding: 0 15px;
		}
		&-date {
			color: $Grey;
			display: inline-block;
			@extend .title-font-12;
		}
		&-name {
			color: $Black;
			border-left: 1px solid $Grey;
			line-height: 22px;
			padding-left: 20px;
			margin: 5px 3px;
			@extend .content-font-14;
		}
		&-detail {
			/* border-right: 1px solid $Grey; */
		}
	}
}