/* ADs Smart List Styple */

.ads {
	&-smartlist {
		margin-top: -100px;
		.container {
			background: $White;
			padding: 5px;
		}
		&-bg {
			background: $ADs-smartlist-bg;
			float: left;
			width: 100%;
		}
		&-title {
			padding: 20px 100px 0px 0px;
			line-height: 40px;
			@extend .title-font-24;
		}
		&-list {
			ul {
				list-style: none;
				padding: 0;
			}
			.item {
				padding: 10px 15px;
				@extend .content-font-16;
				.fa {
					color: $Green;
					margin-right: 10px;
				}
			}
		}
	}
}