* {
	font-family: Lato;
}

img {
	max-width: 100%;
}

button, input, select, textarea, .form-control {
	#{$Hover} {
		outline: none;
		box-shadow: none;
		border-color: inherit;
	}
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
	margin: 0px 0px 0px -20px;
}

input, select {
	&.form-control {
		border-radius: 0;
		border: 0px;
		box-shadow: 0 0 5px $Grey-05;
		height: 40px;
	}
}

.btn {
	&:hover, &:focus {
		outline: none;
	}
	&:active, &.active {
		outline: none;
		&:hover, &:focus {
			outline: none;
		}
	}
}

.yellow-text {
	color: $Yellow;
}