/* ADs Footer Style */
.ads-footer {
	background: $ADs-black;
	color: $ADs-footer-text;
	padding: 75px 0px;
	&-dec {
		padding: 25px 0px;
	}
	&-socialmedia {
		border-top: 1px solid $ASx-footer-border;
		padding-top: 25px;
	}
	&-quicklink {
		padding-left: 50px;
		@media #{$tablet} {
			padding-left: 0px;
		}
		h4 {
			color: $White;
		}
		ul {
			padding-left: 20px;
			li {
				color: $White;
				padding: 5px 0;
				a {
					color: $ADs-footer-text;
				}
			}
		}
	}
	&-featured {
		background: $ADs-black-dr;
		padding: 30px 25px;
		h4 {
			margin-top: 0px;
			color: $White;
		}
		&-label {
			font-style: italic;
		}
		&-images {
			ul {
				padding-left: 0px;
				li {
					display: inline-block;
					margin-right: 15px;
					img {
						max-width: 85px;
					}
				}
			}
		}
		&-action {
			margin-top: 25px;
			.btn {
				background: $ADs-red;
				border: none;
				color: $White;
				text-transform: uppercase;
			}
		}
	}
}