/* Header Style */

.navbar {
	margin-top: 15px;
	&-wrapper {
		margin-top: 0px;
		@media #{$mobile} {
			position: fixed;
			background: $Blue;
			height: 60px;
		}
		.navbar {
			@media #{$mobile} {
				margin: 0px;
				background: $Blue;
			}
		}
	}
	&-toggle {
		float: left;
		border: none;
		margin-top: 15px;
		.icon-bar {
			background: $White;
		}
	}
	&-profile {
		float: right;
		border: none;
		background: none;
		color: #fff;
		font-size: 26px;
		margin-top: 10px;
		margin-right: 10px;
		text-decoration: none;
		@media #{$tablet-above} {
			display: none;
		}
	}
	&-header {
		@media #{$desktop-above} {
			margin-right: 50px;
		}
	}
	&-collapse {
		@media #{$desktop-above} {
			margin-top: 20px;
		}
	}
	&-brand {
		max-width: 130px;
		display: inline-block;
		height: auto;
		padding: 0px;
		@media #{$mobile} {
			max-width: 80px;
			padding: 10px 0;
		}
		img {
			max-width: 100%;
		}
	}
	&-nav {
		li {
			padding: 10px 10px;
			a {
				color: $White;
				padding: 0px;
				text-transform: uppercase;
				#{$Hover} {
					background: none;
					outline: none;
				}
				@extend .content-font-14;
				&.btn {
					border-radius: 0px;
					@extend .post-your-ad-btn;
				}
			}
		}
	}
}