/* Inner Page Layout */

.page {
	&-inner {
		.ads {
			&-inner {
				&-header {
					background: $Blue;
					/* height: 250px; */
					padding-top: 125px;
					padding-bottom: 75px;
				}
				&-page {
					&-title {
						margin-top: 0px;
						text-align: center;
						color: $White;
						@extend .title-font-44;
					}
					&-breadcrumbs {
						text-align: center;
						color: $White;
						span {
							margin-right: 5px;
							font-size: 15px;
						}
					}
				}
				&-content {
					background: $ADs-categories-bg;
					padding-top: 70px;
					padding-bottom: 50px;
					.search {
						&-form {
							padding: 50px 0px;
						}
						&-result {

						}
					}
				}
			}
			&-profile {
				.profile {
					&-contact {
						padding-left: 75px;
						label {
							color: $Grey;
							margin-top: 30px;
						}
						.location, .phone, .website {
							color: $Black;
							line-height: 45px;
							padding-left: 35px;
							background-repeat: no-repeat;
							background-position-y: center;
							@extend .content-font-16;
						}
						.location {
							background-image: url('../images/loc-icon.png');
							
						}
						.phone {
							background-image: url('../images/phone-icon.png');
						}
						.website {
							background-image: url('../images/link-icon.png');	
						}
					}
				}
			}
		}
	}
}